@import url('../comments/__author/comments__author.css');
@import url('../comments/__comment/comments__comment.css');
@import url('../comments/__container/comments__container.css');
@import url('../comments/__image/comments__image.css');
@import url('../comments/__quote/comments__quote.css');
@import url('../content-title/_comments/content-title_comments.css');

.comments {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    align-items: center;
  
    margin: auto;
    margin-top: 102px;
}

@media screen and (max-width: 1279px) {
    .comments {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 770px) {
    .comments {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 535px) {
    .comments {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 64px;
    }
}

