.comments__comment {
    max-width: 382px;
}


@media screen and (max-width: 770px) {
    .comments__comment {
         display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 47px;
    }
    .comments__comment:last-of-type {
        padding-bottom: 0px;
    }
}