.photo-grid__item {
    width: calc(100%/4 - 16px);
    margin-bottom: 16px;
    object-fit: cover;
    
}

@media screen and (max-width: 1024px) {
    .photo-grid__item {
        width: calc(100%/3 - 14px);
    }
}

@media screen and (max-width: 770px) {
    .photo-grid__item {
        width: calc(100%/2 - 8px);
    }
}

@media screen and (max-width: 535px) {
    .photo-grid__item  {
        width: 100%;
        
    }
}

@media screen and (max-width: 321px) {
    .photo-grid__item {
        margin-bottom: 8px;
    }
}