@import url('../intro/__author-group/intro__author-group.css');
@import url('../intro/__author/intro__author.css');
@import url('../intro/__content-group/intro__content-group.css');
@import url('../intro/__list-items/intro__list-items.css');
@import url('../intro/__subtitle/intro__subtitile.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__title/intro__title.css');
@import url('../intro/__list-item/intro__list-item.css');
@import url('../intro/__author/intro__author.css');
@import url('../intro/__span/intro__span.css');
@import url('../intro/__span/_author/intro__span_author.css');





.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    align-items: center;
    margin: 80px auto 0px;

}

@media screen and (max-width: 770px) {
    .intro {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 689px)  {
    .intro {
        padding-left: 16px;
        padding-right: 16px;
    }
}