@import url('../cover/__subtitile/cover__subtitle.css');
@import url('../content-title/_cover/content-title_cover.css');
@import url('../cover/__href/cover__href.css');

.cover {
    width: 100%;
    background-image: url('../../../sprint-3/static/images/cover_image.png');
    background-size: cover;
    background-position: center;
}

